ul {
  margin: 0;
  padding: 1rem;
  list-style: none;
}
li {
  // border: 0.2rem;
  // border-style: dashed;
  margin: 1rem;
  padding: 0.2rem;
}
img {
  height: auto;
  max-width: 100%;
}

.linkss {
  color: black;
}
.card {
  margin: 1rem;
}
@media (min-width: 768px) {
  ul {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .card {
    min-height: 50rem;
  }
  .card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  ul {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .card {
    height: 50rem;
  }
}
